
body{
    background-color: rgb(228, 228, 228);
}

footer{
    text-align: center;
    font-size: small;
}

.cropped { width: 150px; overflow: hidden; } 

.cropped img { margin: -150px 0px 0px -150px; }

.icon-link{
    color:rgb(107, 106, 106);
}

.editPane{
    background-color: whitesmoke;

}

.labelform{
    margin-top: .5em;
    margin-bottom:  .25em;
}

.form-sm{
    width: 200px;
}

.label-sm{
    width:300px;
}

.productImageCard{
    width:300px;
    height: 300px;
    
}

.card-title{
    cursor:pointer;
}

.imageForm{
background-color:rgb(231, 231, 231);}